.dockerignore
node_modules
npm-debug.log
README.md
.next
.git
Dockerfile
docker-compose.dev.yml
docker-compose.prod.yml
docker-compose.prod-without-multistage.yml
dev.Dockerfile
prod.Dockerfile
prod-without-multistage.Dockerfile